<!-- <p>Title: {{ title }}</p> -->
<app-header *ngIf="isAuthenticated"></app-header>
<!-- Image Section -->
<!-- <img [src]="imageUrl" alt="Image" [style]="{ 'max-width': '200px', 'height': 'auto', 'border-radius': '50%',  }"><br> -->
<!-- Change Image Button -->
<!-- <button (click)="changeImage()">Change Image</button><br><br> -->
<!-- Authentication Button -->
<button [ngClass]="{'btn-info': isAuthenticated, 'btn-secondary': !isAuthenticated}" class="btn" (click)="isAuthenticated = !isAuthenticated">
  {{ isAuthenticated ? 'Logout' : 'Login' }}
</button>
<!-- User Information Section -->
<!-- <form *ngIf="isAuthenticated" (ngSubmit)="submitUser()">
  <div>
    <label>Name:</label>
    <input [(ngModel)]="user.name" name="name" (ngModelChange)="logUser()"
      placeholder="Enter username">
  </div>
  <div>
    <label>Email:</label>
    <input [(ngModel)]="user.email" name="email" (ngModelChange)="logUser()"
      placeholder="Enter email">
  </div>
  <button type="submit">Submit</button>
</form> -->

<!-- <form *ngIf="isAuthenticated" (ngSubmit)="submitNav()">
  <div>
    <label>Label:</label>
    <input [(ngModel)]="newNavItem.label" name="navLabel" placeholder="Enter label">
  </div>
  <div>
    <label>Route:</label>
    <input [(ngModel)]="newNavItem.route" name="navRoute" placeholder="Enter route">
  </div>
  <button type="submit">Submit</button>
</form> -->
<!-- <div>
  <button (click)="changeData()">Change Data</button>
</div> -->
<!-- Login Section -->
<!-- <app-login *ngIf="!isAuthenticated"></app-login> -->
<router-outlet></router-outlet>
<app-footer *ngIf="isAuthenticated"></app-footer>
